{% extends 'layout.html' %}

{% block body %}

	<h3 style="color: white; font-family: Comic Sans Ms, Comic Sans; text-align:center;"><strong>Games</strong></h2>
	<hr>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
          <img src="/static/image/nierautomata.png" alt="Nier Automata" style="width: 700px; height: 200px;">
          <div class="caption">
            <p>Nier Automata</p>
            <p>Invaders from another world attack without warning, unleashing their secret weapon: the machines. In the face of this insurmountable threat, the human race is driven from the earth and takes refuge on the moon.

			      The humans develop an army of android soldiers to fight back against the mechanical horde, but succeed only in slowing its advance. To break the deadlock, a new breed of android infantry is sent into the fray: the YoRHa squad.

			      In the forsaken wasteland below, the war between the machines and the androids rages on. A war that is soon to unveil the long-forgotten truth of this world…
			      </p>
          </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="thumbnail">
          <img src="/static/image/ds3.jpg" alt="Dark Souls 3" style="width: 700px; height: 200px;">
          <div class="caption">
            <p>Dark Souls 3</p>
            <p>Yes, indeed, it is called Lothric, Where the transitory lands of the Lords of Cinder converge. In venturing north, pilgrims discover the truth of the old words. The fire fades and the lords go without thrones. When the link of fire is threatened, the bell tolls, Unearthing the old Lords of Cinder from their graves: Aldrich Saint of the Deep Farron’s Undead Legion, The Abyss Watchers and the reclusive lord of the profaned capital, Yhorm The Giant Only in truth the lords will abandon their thrones and the Unkindled will rise Nameless accursed undead, Unfit even to be cinder. And so it is, That ash seeketh embers.
            </p>
          </div>
      </div>
    </div>

  <div class="col-md-4">
      <div class="thumbnail">
          <img src="/static/image/bloodborne.png" alt="Bloodborne" style="width: 700px; height: 200px;">
          <div class="caption">
            <p>Bloodborne</p>
            <p>Upon mysteriously awakening in Yharnam during the night of "The Hunt", the Hunter seeks out something known only as "Paleblood" for reasons unknown. The Hunter begins to unravel Yharnam's intriguing mysteries while hunting down its many terrifying beasts. Eventually, the Hunter's objective is to locate and terminate the source of the plague, and escape the nightmare.
            </p>
          </div>
      </div>
    <br><br><br><br><br><br>
    </div>

    <div class="col-md-4">
      <div class="thumbnail">
          <img src="/static/image/ff15.png" alt="Final Fantasy XV" style="width: 700px; height: 200px;">
          <div class="caption">
            <p>Final Fantasy XV</p>
            <p>Our story takes place in the land of Eos. At present, the world is divided between two warring states. Controlling a majority of the world’s lands is the militarily mighty Niflheim, an aggressively expanding imperial war machine. The Kingdom of Lucis continues to resist the empire’s advance with magic. The Crown City of Insomnia stands proud as the kingdom’s last bastion, but the empire has already made inroads on the outlying territories, including the primary regions of Leide, Duscae, and Cleigne."
            </p>
          </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="thumbnail">
          <img src="/static/image/gta5.jpg" alt="Grand Theft Auto V" style="width: 700px; height: 200px;">
          <div class="caption">
            <p>Grand Theft Auto V</p>
            <p>Los Santos: a sprawling sun-soaked metropolis full of self-help gurus, starlets and fading celebrities, once the envy of the Western world, now struggling to stay afloat in an era of economic uncertainty and cheap reality TV.

            Amidst the turmoil, three very different criminals plot their own chances of survival and success: Franklin, a former street gangster, now looking for real opportunities and serious money; Michael, a professional ex-con whose retirement is a lot less rosy than he hoped it would be; and Trevor, a violent maniac driven by the chance of a cheap high and the next big score. Running out of options, the crew risks everything in a series of daring and dangerous heists that could set them up for life.
            </p>
          </div>
      </div>
    </div>

  <div class="col-md-4">
      <div class="thumbnail">
          <img src="/static/image/mhw.png" alt="Monster Hunter World" style="width: 700px; height: 200px;">
          <div class="caption">
            <p>Monster Hunter World</p>
            <p>In an unnamed high fantasy setting, humans and other sentient races have set their eyes on the New World, a separate continent from the populated Old World. The New World is an untamed wilderness where many powerful monsters roam, and where researchers have been drawn to uncover new mysteries. Several ocean-bound Fleets have been sent already to establish working bases, safe from monsters, and operations are led by the Research Commission.
            </p>
          </div>
      </div>
    <br><br><br><br><br><br><br>
    </div>

    <div class="col-md-4">
      <div class="thumbnail">
          <img src="/static/image/ds2.jpg" alt="Dark Souls 2" style="width: 700px; height: 200px;">
          <div class="caption">
            <p>Dark Souls 2</p>
            <p>"Perhaps you've seen it, maybe in a dream. A murky, forgotten land... A place where souls may mend your ailing mind. 
            You will lose everything, once branded. The symbol of the curse, an augur of darkness. Your past, your future, your very light. None will have meaning, and you won't even care. By then, you will be something other than human. A thing that feeds on souls, a hollow. 
            Long ago, in a walled off land far to the north. A great king built a great kingdom. I believe they called it Drangleic. Perhaps you're familiar. No, how could you be... But one day, you will stand before its decrepit gate, without really knowing why. Like a moth drawn to a flame, your wings will burn in anguish. Time, after time. 
            For that is your fate. The fate of the cursed."
            </p>
          </div>
      </div>
    </div>

        <div class="col-md-4">
      <div class="thumbnail">
          <img src="/static/image/ds_remastered.jpg" alt="Dark Souls Remastered" style="width: 700px; height: 200px;">
          <div class="caption">
            <p>Dark Souls Remastered</p>
            <p>"In the Age of Ancients, the world was unformed, shrouded by fog. A land of gray crags, Archtrees and Everlasting Dragons.
            But then there was fire, and with fire came disparity. Heat and cold, life and death, and of course, light and dark.
            Then from the dark, they came, and found the Souls of Lords within the flame.
            Nito, the first of the dead,
            the Witch of Izalith, and her Daughters of Chaos,
            Gwyn, the Lord of Sunlight, and his faithful knights,
            and the furtive pygmy, so easily forgotten.

            "With the Strength of Lords, they challenged the Dragons.
            Gwyn's mighty bolts peeled apart their stone scales.
            The Witches weaved great firestorms.
            Nito unleashed a miasma of death and disease.
            And Seath the Scaleless betrayed his own, and the Dragons were no more.

            "Thus began the Age of Fire. But soon, the flames will fade, and only Dark will remain.
            Even now, there are only embers, and man sees not light, but only endless nights.
            And amongst the living are seen, carriers of the accursed Darksign."

            "Yes, indeed. The Darksign brands the Undead.
            And in this land, the Undead are corralled and led to the north,
            where they are locked away, to await the end of the world.
            ... This is your fate."
            </p>
          </div>
      </div>
    </div>

  </div>
</div>

{% endblock %}